<!DOCTYPE html>
<html>
  <head>
    <title>Larong Pinoy</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="site-container">
      <nav class="navbar navbar-expand-lg navbar-light larong-pinoy-header fixed-top">
        <a class="navbar-brand" href="<%= home_path %>">
          <%= image_tag("/assets/tsinelas.png",  alt: "Larong Pinoy Slipper-P Logo" , class: "logo") %>
          <span class="font-weight-bold">Larong Pinoy</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if current_user %>
              <li class="nav-item active">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to 'Sign up', new_user_registration_path, :class => "nav-link" %>

              </li>
              <li class="nav-item active">
                <%= link_to 'Sign in', new_user_session_path, :class => "nav-link" %>
              </li>
              <% end %>
          </ul>
        </div>
      </nav>
      <%= render 'layouts/alerts' %>
      <%= yield %>

      <div class="p-3 text-center">
        <span class="">Application created by Arlan Uy and Menard Cruz for CS 173</span>
      </div>
    </div>
  </body>
</html>
